
        <form action="api/productos" method="POST">
            <h2>Ingresar productos</h2>

            <p>Nombre del producto</p>

            <input type="text" name="title">

            <p>Precio</p>

            <input type="text" name="price">

            <p>Thumbnail</p>

            <input type="text" name="thumbnail">

            <br>
            
            <div>   
                <br>
                <button type="submit">Guardar</button>
            </div>
        </form>
       